body {

}
.container {
  margin-top: 80px;
}
.content {
  text-align: center;
  border: 1px grey solid;
  height:450px;
  width: 400px;
  padding: 0;
  margin: 0 auto;
}
.bio {
  text-align: left;
}
.bio-main{
  left:10px;
}
.bio-info {
  top: 30px;
  text-align: center;
}
.prof-pic {
  width: 400px;
  /*border: 3px grey solid;
  box-shadow: 5px 5px 5px #888888;*/
}
.col-sm-12 {
  padding: 0!important;
}
.swipe {
  margin-top: 20px;
}
.swipe img{
  width: 50px;
}
.button {
  border-radius: 20px;
}
.match-header {
  text-align: center;
}

.matches {
  list-style: none;
}
.person {
  border: 1px grey solid;
  padding:10px;
  margin-top: 30px;
}